In [1]:
import pandas as pd
import numpy as np

In [3]:
iz=pd.DataFrame({"a":["a0","a1","a2","a3"],
                 "b":["b0","b1","b2","b3"]},index=["k0","k1","k2","k3"])

dr=pd.DataFrame({"c":["c0","c1","c2","c3"],
                 "d":["d0","d1","d2","d3"],},index=["k0","k2","k3","k4"])

## Index Join

In [4]:
iz

     a   b
k0  a0  b0
k1  a1  b1
k2  a2  b2
k3  a3  b3

In [5]:
dr

     c   d
k0  c0  d0
k2  c1  d1
k3  c2  d2
k4  c3  d3

In [6]:
iz.join(dr,how="inner")

     a   b   c   d
k0  a0  b0  c0  d0
k2  a2  b2  c1  d1
k3  a3  b3  c2  d2